<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>
    <h2 class="widget-title section-title">Top 5 TAGS</h2>

    <div class="tagCloud-tags">
        <!-- {{ range first .Site.Params.widgets.tagCloud.limit .Site.Taxonomies.tags.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
            
        {{ end }} -->
        <a>Cooking</a>
        <a>Recipes</a>
        <a>Food</a>
        <a>Kitchen</a>
        <a>Desserts</a>
    </div>
</section>